@model PixelPlacer.Models.Video

@{
    ViewData["Title"] = "Delete";
}

<div id="Delete-Video-Container">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this Video?</h3>
    <div>
        <hr />
        <dl style="text-align:center;">
            <input type="hidden" asp-for="VideoId" />
            <input type="hidden" asp-for="VideoFilePath" />
            <input type="hidden" asp-for="VideoTypeId" />
            <dd>
                 <h4>@Html.DisplayFor(model => model.VideoTitle)</h4>
            </dd>
            <dd>
                <img src="@Model.Thumbnail" />
            </dd>
            <dd>
                <br /><br />
                <form asp-action="Delete">
                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn red-btn btn-spacing" />
                        <a asp-action="Index" class="btn red-btn btn-spacing">Back</a>
                    </div>
                </form>
            </dd>
        </dl>
    </div>
</div>
