@model PixelPlacer.Models.ViewModels.CreateNewProjectViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Select a Video to Add</h2>

<div class="row">

    @foreach (var item in Model.VideoList)
        {
        <div class="col-lg-3 col-md-3 pull-left" style="text-align:center;">
            <br /><br />
            <h5 style="color:whitesmoke;"> @item.VideoTitle</h5>

            <form asp-controller="Projects" asp-action="AddBackGroundVideoToDB">               
                <input type="hidden" value="@item.VideoId" name="id" />
                <div style="margin:auto">
                    <img src=@item.Thumbnail style="width: 250px; height: 150px;">                
                </div>
                <input type="submit" value="Add Me" class="btn red-btn" style="margin-top: 10px;"/>
            </form>
        </div>
        }
</div>



<br /><br />
<div>
    <a asp-controller="Projects" asp-action="NewProjectDisplay">Back to Project</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
