@model PixelPlacer.Models.ViewModels.CreateNewProjectViewModel

@{
    ViewData["Title"] = "SelectOverlay";
}

<h2>SelectOverlay</h2>

<div>
    @foreach(var item in Model.OverLayList)
    {
        <a asp-controller="Projects" asp-action="CreateProject" asp-route-id="@item.VideoId">@item.VideoTitle</a>
     }
</div>