body {
    background: #353535;
    /*color: whitesmoke;*/
    font-family: 'Lato', sans-serif !important;
}

/* Wrapping element */
    /* Set some basic padding to keep content from hitting the edges */
    /*.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
    /*}*/
    /* Set widths on the form inputs since otherwise they're 100% wide */
    input, select, textarea {
    max-width: 280px;
}

.navbar-brand { 
    font-family: 'Bungee Inline', cursive;
    font-size: 30px;
}

.remove-nav-margins {
    background: #992900;
    background: -webkit-linear-gradient( #ff5719, #992900,#661b00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff5719, #992900,#661b00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #ff5719,#992900,#661b00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff5719, #992900,#661b00); /* Standard syntax */
}

a  {
    color: whitesmoke!important;       
 }

.log-out-btn {
    color: whitesmoke !important;
}

#HomePageHeader {
    margin-top: 50px;
    padding-top: 15px;
}

#loginBox {
    margin-top: 0;
}

#loginTitle {
    margin-bottom: 20px;
}

#HomePage {
    margin-top: 10px;
}

.remove-nav-margins {
    margin: 0 !important;
}
/*set width on Video Player, Play View in Video Views File*/
#parentContainer {
    width: 100%;
    position: relative;
    padding: 0;
    background-color: whitesmoke !important;
}
#Parent-Border-Container {
    border: 7px solid black;
    border-right: 40px solid black;
    border-left: 40px solid black;
    border-radius: 5px;
    width: 100%;
    /*overflow: hidden;*/
}

#RegisterContainer, #ProjectListContainer, #Profile-Container {
    margin-top: 60px;
    padding-top: 15px;
    color: whitesmoke;
}

#CreateProjectContainer {
    margin-top: 20px;
    padding-top: 15px;
    color: whitesmoke;
}

#Upload-Container {
    margin-top: 60px;
    padding-top: 15px;
}

#MyUploads-Index-Container {
    color: whitesmoke;
    margin-top: 60px;
    padding-top: 15px;
}

.upload-font-label-color {
    color: whitesmoke;
}

.form-style {
    color: #222;
}

#vid-1 {
    background-color: whitesmoke;
    margin-bottom: 10px;
}


.button-1 {
    border: 3px solid #ff7c4c;
    background-color: #222;
    color: white;
}

    .button-1:hover {
        background-color: #ff7c4c;
        border: 3px solid #ff7c4c;
        color: #222;
        border-radius: 6px;
    }


.button-2 {
    border: 3px solid #ff5719;
    background-color: #222;
    color: white;
}

    .button-2:hover {
        background-color: #ff5719;
        border: 3px solid #ff5719;
        color: #222;
        border-radius: 6px;
    }

.button-3 {
    border: 3px solid #cc3700;
    background-color: #222;
    color: white;
}

    .button-3:hover {
        background-color: #cc3700;
        border: 3px solid #cc3700;
        color: #222;
        border-radius: 6px;
    }


.button-4 {
    border: 3px solid #992900;
    background-color: #222;
    color: white;
}

    .button-4:hover {
        background-color: #992900;
        border: 3px solid #992900;
        color: #222;
        border-radius: 6px;
    }

.red-btn {
    background-color: #cc3700;
    border: 2px solid #cc3700;
    color: whitesmoke;
    -webkit-box-shadow: 3px 3px 15px -1px #000;
    box-shadow: 3px 3px 15px -1px #000;
}
    .red-btn:hover {
        background-color: #ff5719;
        border: 2px solid #ff5719;
        color: whitesmoke;
    }

.red-btn2 {
    background-color: #cc3700;
    border: 2px solid #cc3700;
}


.project-list-btn {
    margin: 7px 7px;
}

.video-control-btns {
    margin-top: 8px;
}

.box-showing {
    -webkit-box-shadow: 3px 3px 15px -1px #000;
    box-shadow: 3px 3px 15px -1px #000;
}

.VideoButtons {
    margin-right: 10px;
}
.btn-create-project {
    margin-bottom: 5px;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.footer-class {
    top: 90%;
    left: 45%;
}

    .footer-class p {
        text-align: center;
        width: 100%;
    }
