@{
    ViewData["Title"] = "Home Page";
}


<div>
    <ul>
        <li><a asp-controller="Projects" asp-action="Index">My Projects</a></li>
        <li><a asp-controller="Projects" asp-action="Create">Create a New Video Project</a></li>
        <li><a asp-controller="Videos" asp-action="Upload">Upload a Video</a></li>
        <li><a asp-controller="Videos" asp-action="Index">View Uploads</a></li>
    </ul>
</div>