@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Pixel</h1> 
<div class="row">
    <div class="col-lg-7 col-md-7">
        <p> This Application page is written in Asp.Net MVC Core. It utilizes Asp.Net Identity FrameWork, Razor template, Video Upload, Video PlayBack, FFMPG, Serious.Js, Some regular Javascripts, Canvas, Drag and Drop, and Chroma Key effects to be applied to your personal Videos  </p>
        <p>Login to start making your own custom green screen videos with multiple overlays</p>
    </div>
    <div class="col-lg-4">

    </div>
</div>