@{
    ViewData["Title"] = "Home Page";
}

<h2>My Profile</h2>
<hr />

<div class="form-horizontal">
    <div class="form-group">
        <a asp-controller="Projects" asp-action="Index">My Projects</a>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <a asp-controller="Projects" asp-action="NewProjectDisplay">Create a New Video Project</a>        
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <a asp-controller="Videos" asp-action="Upload">Upload a Video</a>    
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <a asp-controller="Videos" asp-action="Index">View Uploads</a>    
    </div>
</div>
